.container {
    display: flex;
    flex-direction: column;

    width: 640px;
    height: 640px;
}

.tile {
    border: 1px dotted rgb(207, 207, 207);

    display: flex;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
}

.row {
    display: flex;
    flex-grow: 1;
}

.hover {
    background-color: lightgray;
}